<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
						http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
						http://www.springframework.org/schema/context
						http://www.springframework.org/schema/context/spring-context-3.2.xsd
						http://www.springframework.org/schema/aop
						http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
						http://www.springframework.org/schema/tx
						http://www.springframework.org/schema/tx/spring-tx-3.2.xsd
	 					http://www.springframework.org/schema/mvc 
                        http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd"
       default-autowire="byName">
    
		<bean id="dataSourceBase" class="com.alibaba.druid.pool.DruidDataSource" 
			init-method="init" destroy-method="close"  abstract="true">
			<!-- 控制密码是否加密
           	<property name="connectionProperties" value="config.decrypt=true" /> -->
           	<property name="filters" value="config"/>
            <!-- 连接池扩展
           	<property name="filters" value="stat" />-->
            <!-- 连接池最大值-->
            <property name="maxActive" value="80"/>
            <!-- 初始化大小 -->
            <property name="initialSize" value="1"/>
            <!-- 获取连接最大等待时间 -->
            <property name="maxWait" value="60000"/>
            <!-- 连接池最小空闲 -->
            <property name="minIdle" value="1"/>
            <!-- 逐出连接的检测时间间隔 -->
            <property name="timeBetweenEvictionRunsMillis" value="3000"/>
            <!-- 最小逐出时间  -->
            <property name="minEvictableIdleTimeMillis" value="300000"/>
            <!-- 检测连接是否有效的SQL-->
            <property name="validationQuery" value="SELECT 1"/>
            <!-- 借出连接时是否做测试-->
            <property name="testWhileIdle" value="true"/>
            <!-- 借出连接时是否做测试-->
            <property name="testOnBorrow" value="false"/>
            <!--归还连接时是否做测试-->
            <property name="testOnReturn" value="false"/>

            <property name="removeAbandoned" value="true"/>
            <property name="removeAbandonedTimeout" value="3600"/>
            <!--借出连接时是否做测试-->
            <!-- <property name="poolPreparedStatements" value="true" />
             Statement缓存大小
            <property name="maxPoolPreparedStatementPerConnectionSize" value="20" />-->
		</bean>

        <!--<bean id="dataSource" parent="dataSourceBase">
            <property name="driverClassName" value="${msdLibrary.db.driverClass}"/>
            <property name="url" value="${msdLibrary.db.jdbcUrl}"/>
            <property name="username" value="${msdLibrary.db.username}"/>
            <property name="password" value="${msdLibrary.db.password}"/>
        </bean>-->
        <bean id="dataSource" parent="dataSourceBase">
            <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
            <property name="url" value="jdbc:mysql://localhost:3306/shop?autoReconnect=true&amp;useUnicode=true&amp;characterEncoding=utf-8"/>
            <property name="username" value="root"/>
            <property name="password" value="root"/>
        </bean>

</beans>