/**  基础样式 **/
* {
    box-sizing: border-box;
}


body {
    font-family:"microsoft yahei","黑体",  Verdana, Arial, sans-serif, "Times New Roman", "宋体", simsun;
    margin: 0 auto;
    overflow-x: hidden;
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
}

.container {
    margin: 0 auto;
    min-width: 640px;
    max-width: 1280px;
    -webkit-overflow-scrolling: touch;
    -webkit-transform: translate3d(0, 0, 0);
}

.left {
    float: left;
}

.right {
    float: right;
}

input:focus, select:focus, textarea:focus {
    /*border-color: #66afe9;*/
    /*box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);*/
    outline: none;
}

input, button, select, textarea {
    outline: none;
}
.pdlr5 {
    padding: 0 5px;
}
.pdlr30 {
    padding: 0 30px;
}
.pdtl40{
    padding: 40px 0 0 40px;
}
.mgt60{
    margin-top:60px;
}
.mgt125 {
    margin-top: 125px;
}
.mgt160{
    margin-top:160px;
}
.mgtb10{
    margin-top: 10px;
    margin-bottom: 10px;
}
.mgr20{
    margin-right: 20px;
}
/*边框*/
.bdl{
    border-left: 1px solid #dfdfdf;
}
.bdr{
    border-right: 1px solid #dfdfdf;
}
/*颜色*/
.bgc-fa{
    background-color: #fafafa;
}
.bgc-f5{
    background-color: #f5f5f5;
}
.bgc-f4{
    background-color: #f4f4f4;
}
.bgc-e8{
    background-color: #e8e8e8;
}
.bgc-ea{
    background-color: #eaeaea;
}
.bgc-3faaee{
    background-color: #3faaee;
}
.bgc-eee{
    background-color: #eee;
}
.color-ff5454{
    color: #ff5454;
}
.color-29ab91{
    color: #29ab91;
}
.color-ff3838{
    color: #ff3838;
}
.color-ff4e4e{
    color: #ff4e4e;
}
.color-fdb23d{
    color: #fdb23d;
}
.color-6db6f4{
    color: #6db6f4;
}
.color-00abef{
    color: #00abef;
}
/*字体大小*/
.fs16{
    font-size: 16px;/*px*/
}
.fs26{
    font-size: 26px;/*px*/
}
.fs32{
    font-size: 32px;/*px*/
}
.fs34{
    font-size: 34px;/*px*/
}
.fs36{
    font-size: 36px;/*px*/
}
.fs57{
    font-size: 57px;/*px*/
}
.text-center{
    text-align: center;
}
/** 字体样式  **/
@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('../font/glyphicon/glyphicons-halflings-regular.eot');
    src: url('../font/glyphicon/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../font/glyphicon/glyphicons-halflings-regular.woff') format('woff'), url('../font/glyphicon/glyphicons-halflings-regular.ttf') format('truetype'), url('../font/glyphicon/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.glyphicon-asterisk:before {
    content: "\2a";
}

.glyphicon-plus:before {
    content: "\2b";
}

.glyphicon-euro:before,
.glyphicon-eur:before {
    content: "\20ac";
}

.glyphicon-minus:before {
    content: "\2212";
}

.glyphicon-cloud:before {
    content: "\2601";
}

.glyphicon-envelope:before {
    content: "\2709";
}

.glyphicon-pencil:before {
    content: "\270f";
}

.glyphicon-glass:before {
    content: "\e001";
}

.glyphicon-music:before {
    content: "\e002";
}

.glyphicon-search:before {
    content: "\e003";
}

.glyphicon-heart:before {
    content: "\e005";
}

.glyphicon-star:before {
    content: "\e006";
}

.glyphicon-star-empty:before {
    content: "\e007";
}

.glyphicon-user:before {
    content: "\e008";
}

.glyphicon-film:before {
    content: "\e009";
}

.glyphicon-th-large:before {
    content: "\e010";
}

.glyphicon-th:before {
    content: "\e011";
}

.glyphicon-th-list:before {
    content: "\e012";
}

.glyphicon-ok:before {
    content: "\e013";
}

.glyphicon-remove:before {
    content: "\e014";
}

.glyphicon-zoom-in:before {
    content: "\e015";
}

.glyphicon-zoom-out:before {
    content: "\e016";
}

.glyphicon-off:before {
    content: "\e017";
}

.glyphicon-signal:before {
    content: "\e018";
}

.glyphicon-cog:before {
    content: "\e019";
}

.glyphicon-trash:before {
    content: "\e020";
}

.glyphicon-home:before {
    content: "\e021";
}

.glyphicon-file:before {
    content: "\e022";
}

.glyphicon-time:before {
    content: "\e023";
}

.glyphicon-road:before {
    content: "\e024";
}

.glyphicon-download-alt:before {
    content: "\e025";
}

.glyphicon-download:before {
    content: "\e026";
}

.glyphicon-upload:before {
    content: "\e027";
}

.glyphicon-inbox:before {
    content: "\e028";
}

.glyphicon-play-circle:before {
    content: "\e029";
}

.glyphicon-repeat:before {
    content: "\e030";
}

.glyphicon-refresh:before {
    content: "\e031";
}

.glyphicon-list-alt:before {
    content: "\e032";
}

.glyphicon-lock:before {
    content: "\e033";
}

.glyphicon-flag:before {
    content: "\e034";
}

.glyphicon-headphones:before {
    content: "\e035";
}

.glyphicon-volume-off:before {
    content: "\e036";
}

.glyphicon-volume-down:before {
    content: "\e037";
}

.glyphicon-volume-up:before {
    content: "\e038";
}

.glyphicon-qrcode:before {
    content: "\e039";
}

.glyphicon-barcode:before {
    content: "\e040";
}

.glyphicon-tag:before {
    content: "\e041";
}

.glyphicon-tags:before {
    content: "\e042";
}

.glyphicon-book:before {
    content: "\e043";
}

.glyphicon-bookmark:before {
    content: "\e044";
}

.glyphicon-print:before {
    content: "\e045";
}

.glyphicon-camera:before {
    content: "\e046";
}

.glyphicon-font:before {
    content: "\e047";
}

.glyphicon-bold:before {
    content: "\e048";
}

.glyphicon-italic:before {
    content: "\e049";
}

.glyphicon-text-height:before {
    content: "\e050";
}

.glyphicon-text-width:before {
    content: "\e051";
}

.glyphicon-align-left:before {
    content: "\e052";
}

.glyphicon-align-center:before {
    content: "\e053";
}

.glyphicon-align-right:before {
    content: "\e054";
}

.glyphicon-align-justify:before {
    content: "\e055";
}

.glyphicon-list:before {
    content: "\e056";
}

.glyphicon-indent-left:before {
    content: "\e057";
}

.glyphicon-indent-right:before {
    content: "\e058";
}

.glyphicon-facetime-video:before {
    content: "\e059";
}

.glyphicon-picture:before {
    content: "\e060";
}

.glyphicon-map-marker:before {
    content: "\e062";
}

.glyphicon-adjust:before {
    content: "\e063";
}

.glyphicon-tint:before {
    content: "\e064";
}

.glyphicon-edit:before {
    content: "\e065";
}

.glyphicon-share:before {
    content: "\e066";
}

.glyphicon-check:before {
    content: "\e067";
}

.glyphicon-move:before {
    content: "\e068";
}

.glyphicon-step-backward:before {
    content: "\e069";
}

.glyphicon-fast-backward:before {
    content: "\e070";
}

.glyphicon-backward:before {
    content: "\e071";
}

.glyphicon-play:before {
    content: "\e072";
}

.glyphicon-pause:before {
    content: "\e073";
}

.glyphicon-stop:before {
    content: "\e074";
}

.glyphicon-forward:before {
    content: "\e075";
}

.glyphicon-fast-forward:before {
    content: "\e076";
}

.glyphicon-step-forward:before {
    content: "\e077";
}

.glyphicon-eject:before {
    content: "\e078";
}

.glyphicon-chevron-left:before {
    content: "\e079";
}

.glyphicon-chevron-right:before {
    content: "\e080";
}

.glyphicon-plus-sign:before {
    content: "\e081";
}

.glyphicon-minus-sign:before {
    content: "\e082";
}

.glyphicon-remove-sign:before {
    content: "\e083";
}

.glyphicon-ok-sign:before {
    content: "\e084";
}

.glyphicon-question-sign:before {
    content: "\e085";
}

.glyphicon-info-sign:before {
    content: "\e086";
}

.glyphicon-screenshot:before {
    content: "\e087";
}

.glyphicon-remove-circle:before {
    content: "\e088";
}

.glyphicon-ok-circle:before {
    content: "\e089";
}

.glyphicon-ban-circle:before {
    content: "\e090";
}

.glyphicon-arrow-left:before {
    content: "\e091";
}

.glyphicon-arrow-right:before {
    content: "\e092";
}

.glyphicon-arrow-up:before {
    content: "\e093";
}

.glyphicon-arrow-down:before {
    content: "\e094";
}

.glyphicon-share-alt:before {
    content: "\e095";
}

.glyphicon-resize-full:before {
    content: "\e096";
}

.glyphicon-resize-small:before {
    content: "\e097";
}

.glyphicon-exclamation-sign:before {
    content: "\e101";
}

.glyphicon-gift:before {
    content: "\e102";
}

.glyphicon-leaf:before {
    content: "\e103";
}

.glyphicon-fire:before {
    content: "\e104";
}

.glyphicon-eye-open:before {
    content: "\e105";
}

.glyphicon-eye-close:before {
    content: "\e106";
}

.glyphicon-warning-sign:before {
    content: "\e107";
}

.glyphicon-plane:before {
    content: "\e108";
}

.glyphicon-calendar:before {
    content: "\e109";
}

.glyphicon-random:before {
    content: "\e110";
}

.glyphicon-comment:before {
    content: "\e111";
}

.glyphicon-magnet:before {
    content: "\e112";
}

.glyphicon-chevron-up:before {
    content: "\e113";
}

.glyphicon-chevron-down:before {
    content: "\e114";
}

.glyphicon-retweet:before {
    content: "\e115";
}

.glyphicon-shopping-cart:before {
    content: "\e116";
}

.glyphicon-folder-close:before {
    content: "\e117";
}

.glyphicon-folder-open:before {
    content: "\e118";
}

.glyphicon-resize-vertical:before {
    content: "\e119";
}

.glyphicon-resize-horizontal:before {
    content: "\e120";
}

.glyphicon-hdd:before {
    content: "\e121";
}

.glyphicon-bullhorn:before {
    content: "\e122";
}

.glyphicon-bell:before {
    content: "\e123";
}

.glyphicon-certificate:before {
    content: "\e124";
}

.glyphicon-thumbs-up:before {
    content: "\e125";
}

.glyphicon-thumbs-down:before {
    content: "\e126";
}

.glyphicon-hand-right:before {
    content: "\e127";
}

.glyphicon-hand-left:before {
    content: "\e128";
}

.glyphicon-hand-up:before {
    content: "\e129";
}

.glyphicon-hand-down:before {
    content: "\e130";
}

.glyphicon-circle-arrow-right:before {
    content: "\e131";
}

.glyphicon-circle-arrow-left:before {
    content: "\e132";
}

.glyphicon-circle-arrow-up:before {
    content: "\e133";
}

.glyphicon-circle-arrow-down:before {
    content: "\e134";
}

.glyphicon-globe:before {
    content: "\e135";
}

.glyphicon-wrench:before {
    content: "\e136";
}

.glyphicon-tasks:before {
    content: "\e137";
}

.glyphicon-filter:before {
    content: "\e138";
}

.glyphicon-briefcase:before {
    content: "\e139";
}

.glyphicon-fullscreen:before {
    content: "\e140";
}

.glyphicon-dashboard:before {
    content: "\e141";
}

.glyphicon-paperclip:before {
    content: "\e142";
}

.glyphicon-heart-empty:before {
    content: "\e143";
}

.glyphicon-link:before {
    content: "\e144";
}

.glyphicon-phone:before {
    content: "\e145";
}

.glyphicon-pushpin:before {
    content: "\e146";
}

.glyphicon-usd:before {
    content: "\e148";
}

.glyphicon-gbp:before {
    content: "\e149";
}

.glyphicon-sort:before {
    content: "\e150";
}

.glyphicon-sort-by-alphabet:before {
    content: "\e151";
}

.glyphicon-sort-by-alphabet-alt:before {
    content: "\e152";
}

.glyphicon-sort-by-order:before {
    content: "\e153";
}

.glyphicon-sort-by-order-alt:before {
    content: "\e154";
}

.glyphicon-sort-by-attributes:before {
    content: "\e155";
}

.glyphicon-sort-by-attributes-alt:before {
    content: "\e156";
}

.glyphicon-unchecked:before {
    content: "\e157";
}

.glyphicon-expand:before {
    content: "\e158";
}

.glyphicon-collapse-down:before {
    content: "\e159";
}

.glyphicon-collapse-up:before {
    content: "\e160";
}

.glyphicon-log-in:before {
    content: "\e161";
}

.glyphicon-flash:before {
    content: "\e162";
}

.glyphicon-log-out:before {
    content: "\e163";
}

.glyphicon-new-window:before {
    content: "\e164";
}

.glyphicon-record:before {
    content: "\e165";
}

.glyphicon-save:before {
    content: "\e166";
}

.glyphicon-open:before {
    content: "\e167";
}

.glyphicon-saved:before {
    content: "\e168";
}

.glyphicon-import:before {
    content: "\e169";
}

.glyphicon-export:before {
    content: "\e170";
}

.glyphicon-send:before {
    content: "\e171";
}

.glyphicon-floppy-disk:before {
    content: "\e172";
}

.glyphicon-floppy-saved:before {
    content: "\e173";
}

.glyphicon-floppy-remove:before {
    content: "\e174";
}

.glyphicon-floppy-save:before {
    content: "\e175";
}

.glyphicon-floppy-open:before {
    content: "\e176";
}

.glyphicon-credit-card:before {
    content: "\e177";
}

.glyphicon-transfer:before {
    content: "\e178";
}

.glyphicon-cutlery:before {
    content: "\e179";
}

.glyphicon-header:before {
    content: "\e180";
}

.glyphicon-compressed:before {
    content: "\e181";
}

.glyphicon-earphone:before {
    content: "\e182";
}

.glyphicon-phone-alt:before {
    content: "\e183";
}

.glyphicon-tower:before {
    content: "\e184";
}

.glyphicon-stats:before {
    content: "\e185";
}

.glyphicon-sd-video:before {
    content: "\e186";
}

.glyphicon-hd-video:before {
    content: "\e187";
}

.glyphicon-subtitles:before {
    content: "\e188";
}

.glyphicon-sound-stereo:before {
    content: "\e189";
}

.glyphicon-sound-dolby:before {
    content: "\e190";
}

.glyphicon-sound-5-1:before {
    content: "\e191";
}

.glyphicon-sound-6-1:before {
    content: "\e192";
}

.glyphicon-sound-7-1:before {
    content: "\e193";
}

.glyphicon-copyright-mark:before {
    content: "\e194";
}

.glyphicon-registration-mark:before {
    content: "\e195";
}

.glyphicon-cloud-download:before {
    content: "\e197";
}

.glyphicon-cloud-upload:before {
    content: "\e198";
}

.glyphicon-tree-conifer:before {
    content: "\e199";
}

.glyphicon-tree-deciduous:before {
    content: "\e200";
}

.glyphicon-cd:before {
    content: "\e201";
}

.glyphicon-save-file:before {
    content: "\e202";
}

.glyphicon-open-file:before {
    content: "\e203";
}

.glyphicon-level-up:before {
    content: "\e204";
}

.glyphicon-copy:before {
    content: "\e205";
}

.glyphicon-paste:before {
    content: "\e206";
}

.glyphicon-alert:before {
    content: "\e209";
}

.glyphicon-equalizer:before {
    content: "\e210";
}

.glyphicon-king:before {
    content: "\e211";
}

.glyphicon-queen:before {
    content: "\e212";
}

.glyphicon-pawn:before {
    content: "\e213";
}

.glyphicon-bishop:before {
    content: "\e214";
}

.glyphicon-knight:before {
    content: "\e215";
}

.glyphicon-baby-formula:before {
    content: "\e216";
}

.glyphicon-tent:before {
    content: "\26fa";
}

.glyphicon-blackboard:before {
    content: "\e218";
}

.glyphicon-bed:before {
    content: "\e219";
}

.glyphicon-apple:before {
    content: "\f8ff";
}

.glyphicon-erase:before {
    content: "\e221";
}

.glyphicon-hourglass:before {
    content: "\231b";
}

.glyphicon-lamp:before {
    content: "\e223";
}

.glyphicon-duplicate:before {
    content: "\e224";
}

.glyphicon-piggy-bank:before {
    content: "\e225";
}

.glyphicon-scissors:before {
    content: "\e226";
}

.glyphicon-bitcoin:before {
    content: "\e227";
}

.glyphicon-btc:before {
    content: "\e227";
}

.glyphicon-xbt:before {
    content: "\e227";
}

.glyphicon-yen:before {
    content: "\00a5";
}

.glyphicon-jpy:before {
    content: "\00a5";
}

.glyphicon-ruble:before {
    content: "\20bd";
}

.glyphicon-rub:before {
    content: "\20bd";
}

.glyphicon-scale:before {
    content: "\e230";
}

.glyphicon-ice-lolly:before {
    content: "\e231";
}

.glyphicon-ice-lolly-tasted:before {
    content: "\e232";
}

.glyphicon-education:before {
    content: "\e233";
}

.glyphicon-option-horizontal:before {
    content: "\e234";
}

.glyphicon-option-vertical:before {
    content: "\e235";
}

.glyphicon-menu-hamburger:before {
    content: "\e236";
}

.glyphicon-modal-window:before {
    content: "\e237";
}

.glyphicon-oil:before {
    content: "\e238";
}

.glyphicon-grain:before {
    content: "\e239";
}

.glyphicon-sunglasses:before {
    content: "\e240";
}

.glyphicon-text-size:before {
    content: "\e241";
}

.glyphicon-text-color:before {
    content: "\e242";
}

.glyphicon-text-background:before {
    content: "\e243";
}

.glyphicon-object-align-top:before {
    content: "\e244";
}

.glyphicon-object-align-bottom:before {
    content: "\e245";
}

.glyphicon-object-align-horizontal:before {
    content: "\e246";
}

.glyphicon-object-align-left:before {
    content: "\e247";
}

.glyphicon-object-align-vertical:before {
    content: "\e248";
}

.glyphicon-object-align-right:before {
    content: "\e249";
}

.glyphicon-triangle-right:before {
    content: "\e250";
}

.glyphicon-triangle-left:before {
    content: "\e251";
}

.glyphicon-triangle-bottom:before {
    content: "\e252";
}

.glyphicon-triangle-top:before {
    content: "\e253";
}

.glyphicon-console:before {
    content: "\e254";
}

.glyphicon-superscript:before {
    content: "\e255";
}

.glyphicon-subscript:before {
    content: "\e256";
}

.glyphicon-menu-left:before {
    content: "\e257";
}

.glyphicon-menu-right:before {
    content: "\e258";
}

.glyphicon-menu-down:before {
    content: "\e259";
}

.glyphicon-menu-up:before {
    content: "\e260";
}

@font-face {
    font-family: "iconfont";
    src: url('../font/iconfont/iconfont.eot'); /* IE9*/
    src: url('../font/iconfont/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../font/iconfont/iconfont.woff') format('woff'), /* chrome、firefox */ url('../font/iconfont/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/ url('../font/iconfont/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: inherit;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

.icon-roundcheckfill:before { content: "\e656"; }
.icon-phone:before { content: "\e652"; }
.icon-location:before { content: "\e651"; }
.icon-locationfill:before { content: "\e650"; }
.icon-loading:before { content: "\e64f"; }
.icon-favor:before { content: "\e64c"; }
.icon-favorfill:before { content: "\e64b"; }
.icon-emoji:before { content: "\e64a"; }
.icon-edit:before { content: "\e649"; }
.icon-close:before { content: "\e646"; }
.icon-check:before { content: "\e645"; }
.icon-appreciate:before { content: "\e644"; }
.icon-present:before { content: "\e6d3"; }
.icon-squarecheckfill:before { content: "\e6d4"; }
.icon-square:before { content: "\e6d5"; }
.icon-squarecheck:before { content: "\e6d6"; }
.icon-round:before { content: "\e6d7"; }
.icon-roundaddfill:before { content: "\e6d8"; }
.icon-roundadd:before { content: "\e6d9"; }
.icon-add:before { content: "\e6da"; }
.icon-notificationforbidfill:before { content: "\e6db"; }
.icon-explore:before { content: "\e6d2"; }
.icon-selection:before { content: "\e6ce"; }
.icon-goods:before { content: "\e6cd"; }
.icon-friend:before { content: "\e6cc"; }
.icon-friendfamous:before { content: "\e6cb"; }
.icon-friendadd:before { content: "\e6ca"; }
.icon-friendaddfill:before { content: "\e6c9"; }
.icon-big:before { content: "\e6c7"; }
.icon-tmall:before { content: "\e6cf"; }
.icon-activity:before { content: "\e6c5"; }
.icon-weibo:before { content: "\e6c4"; }
.icon-vip:before { content: "\e6c3"; }
.icon-unlock:before { content: "\e6c2"; }
.icon-lock:before { content: "\e6c0"; }
.icon-link:before { content: "\e6bf"; }
.icon-addressbook:before { content: "\e6bd"; }
.icon-message:before { content: "\e6bc"; }
.icon-homefill:before { content: "\e6bb"; }
.icon-refund:before { content: "\e6ac"; }
.icon-cart:before { content: "\e6af"; }
.icon-qrcode:before { content: "\e6b0"; }
.icon-remind:before { content: "\e6b2"; }
.icon-delete:before { content: "\e6b4"; }
.icon-profile:before { content: "\e6b7"; }
.icon-home:before { content: "\e6b8"; }
.icon-cartfill:before { content: "\e6b9"; }
.icon-discoverfill:before { content: "\e6ba"; }
.icon-deletefill:before { content: "\e6a6"; }
.icon-moreandroid:before { content: "\e6a5"; }
.icon-refresh:before { content: "\e6a4"; }
.icon-right:before { content: "\e6a3"; }
.icon-pullup:before { content: "\e6a0"; }
.icon-pulldown:before { content: "\e69f"; }
.icon-top:before { content: "\e69e"; }
.icon-footprint:before { content: "\e69d"; }
.icon-filter:before { content: "\e69c"; }
.icon-more:before { content: "\e684"; }
.icon-scan:before { content: "\e689"; }
.icon-settings:before { content: "\e68a"; }
.icon-questionfill:before { content: "\e690"; }
.icon-question:before { content: "\e691"; }
.icon-shopfill:before { content: "\e697"; }
.icon-form:before { content: "\e699"; }
.icon-wangfill:before { content: "\e69a"; }
.icon-pic:before { content: "\e69b"; }
.icon-list:before { content: "\e682"; }
.icon-discover:before { content: "\e67e"; }
.icon-cascades:before { content: "\e67c"; }
.icon-back:before { content: "\e679"; }
.icon-wang:before { content: "\e678"; }
.icon-ticket:before { content: "\e677"; }
.icon-shop:before { content: "\e676"; }
.icon-send:before { content: "\e675"; }
.icon-pay:before { content: "\e673"; }
.icon-likefill:before { content: "\e668"; }
.icon-like:before { content: "\e669"; }
.icon-notificationfill:before { content: "\e66a"; }
.icon-notification:before { content: "\e66b"; }
.icon-order:before { content: "\e66c"; }
.icon-samefill:before { content: "\e66d"; }
.icon-same:before { content: "\e66e"; }
.icon-deliver:before { content: "\e671"; }
.icon-evaluate:before { content: "\e672"; }
.icon-comment:before { content: "\e667"; }
.icon-commentfill:before { content: "\e666"; }
.icon-camera:before { content: "\e665"; }
.icon-camerafill:before { content: "\e664"; }
.icon-warn:before { content: "\e663"; }
.icon-warnfill:before { content: "\e662"; }
.icon-unfold:before { content: "\e661"; }
.icon-time:before { content: "\e65f"; }
.icon-timefill:before { content: "\e65e"; }
.icon-bad:before { content: "\e723"; }
.icon-cameraadd:before { content: "\e724"; }
.icon-roundcheck:before { content: "\e657"; }
.icon-roundclosefill:before { content: "\e658"; }
.icon-roundclose:before { content: "\e659"; }
.icon-roundrightfill:before { content: "\e65a"; }
.icon-roundright:before { content: "\e65b"; }
.icon-search:before { content: "\e65c"; }
.icon-taxi:before { content: "\e65d"; }
.icon-rank:before { content: "\e722"; }
.icon-rankfill:before { content: "\e721"; }
.icon-pullright:before { content: "\e720"; }
.icon-pullleft:before { content: "\e71f"; }
.icon-new:before { content: "\e71e"; }
.icon-newfill:before { content: "\e71d"; }
.icon-male:before { content: "\e71c"; }
.icon-keyboard:before { content: "\e71b"; }
.icon-female:before { content: "\e71a"; }
.icon-baby:before { content: "\e711"; }
.icon-brandfill:before { content: "\e712"; }
.icon-brand:before { content: "\e713"; }
.icon-choicenessfill:before { content: "\e714"; }
.icon-choiceness:before { content: "\e715"; }
.icon-clothesfill:before { content: "\e716"; }
.icon-clothes:before { content: "\e717"; }
.icon-creativefill:before { content: "\e718"; }
.icon-creative:before { content: "\e719"; }
.icon-babyfill:before { content: "\e710"; }
.icon-upstage:before { content: "\e70f"; }
.icon-upstagefill:before { content: "\e70e"; }
.icon-qiang:before { content: "\e70b"; }
.icon-notice:before { content: "\e70a"; }
.icon-noticefill:before { content: "\e709"; }
.icon-countdown:before { content: "\e708"; }
.icon-countdownfill:before { content: "\e707"; }
.icon-copy:before { content: "\e706"; }
.icon-flashlightclose:before { content: "\e6fc"; }
.icon-flashlightopen:before { content: "\e6fd"; }
.icon-searchlist:before { content: "\e6fe"; }
.icon-sort:before { content: "\e700"; }
.icon-1212:before { content: "\e702"; }
.icon-service:before { content: "\e6ff"; }
.icon-down:before { content: "\e703"; }
.icon-mobile:before { content: "\e704"; }
.icon-mobilefill:before { content: "\e705"; }
.icon-barcode:before { content: "\e6fb"; }
.icon-light:before { content: "\e6fa"; }
.icon-camerarotate:before { content: "\e6f9"; }
.icon-lightfill:before { content: "\e6f8"; }
.icon-lightforbid:before { content: "\e6f7"; }
.icon-lightauto:before { content: "\e6f6"; }
.icon-we:before { content: "\e6f5"; }
.icon-wefill:before { content: "\e6f4"; }
.icon-share:before { content: "\e6f3"; }
.icon-forwardfill:before { content: "\e6ea"; }
.icon-forward:before { content: "\e6eb"; }
.icon-rechargefill:before { content: "\e6ec"; }
.icon-recharge:before { content: "\e6ed"; }
.icon-vipcard:before { content: "\e6ee"; }
.icon-voice:before { content: "\e6ef"; }
.icon-voicefill:before { content: "\e6f0"; }
.icon-friendfavor:before { content: "\e6f1"; }
.icon-wifi:before { content: "\e6f2"; }
.icon-mobiletao:before { content: "\e6e9"; }
.icon-tao:before { content: "\e6e8"; }
.icon-info:before { content: "\e6e5"; }
.icon-infofill:before { content: "\e6e4"; }
.icon-appreciatefill:before { content: "\e6e3"; }
.icon-similar:before { content: "\e6e2"; }
.icon-selectionfill:before { content: "\e6e1"; }
.icon-redpacket:before { content: "\e6e0"; }
.icon-game:before { content: "\e6df"; }
.icon-crownfill:before { content: "\e776"; }
.icon-crown:before { content: "\e777"; }
.icon-goodsfill:before { content: "\e778"; }
.icon-messagefill:before { content: "\e779"; }
.icon-profilefill:before { content: "\e77a"; }
.icon-sound:before { content: "\e77b"; }
.icon-sponsorfill:before { content: "\e77c"; }
.icon-explorefill:before { content: "\e6dd"; }
.icon-fold:before { content: "\e6de"; }
.icon-activityfill:before { content: "\e775"; }
.icon-safe:before { content: "\e769"; }
.icon-move:before { content: "\e768"; }
.icon-add1:before { content: "\e767"; }
.icon-shake:before { content: "\e765"; }
.icon-punch:before { content: "\e764"; }
.icon-radioboxfill:before { content: "\e763"; }
.icon-writefill:before { content: "\e760"; }
.icon-write:before { content: "\e761"; }
.icon-upload:before { content: "\e75d"; }
.icon-rounddown:before { content: "\e75c"; }
.icon-radiobox:before { content: "\e75b"; }
.icon-post:before { content: "\e759"; }
.icon-hot:before { content: "\e758"; }
.icon-hotfill:before { content: "\e757"; }
.icon-backdelete:before { content: "\e756"; }
.icon-all:before { content: "\e755"; }
.icon-group:before { content: "\e753"; }
.icon-calendar:before { content: "\e74a"; }
.icon-cut:before { content: "\e74b"; }
.icon-magic:before { content: "\e74c"; }
.icon-backwardfill:before { content: "\e74d"; }
.icon-forwardfill1:before { content: "\e74e"; }
.icon-playfill:before { content: "\e74f"; }
.icon-stop:before { content: "\e750"; }
.icon-tagfill:before { content: "\e751"; }
.icon-tag:before { content: "\e752"; }
.icon-read:before { content: "\e742"; }
.icon-community:before { content: "\e741"; }
.icon-communityfill:before { content: "\e740"; }
.icon-command:before { content: "\e73f"; }
.icon-commandfill:before { content: "\e73e"; }
.icon-attention:before { content: "\e73d"; }
.icon-attentionfill:before { content: "\e73c"; }
.icon-taoxiaopu:before { content: "\e73b"; }
.icon-repairfill:before { content: "\e73a"; }
.icon-mark:before { content: "\e731"; }
.icon-presentfill:before { content: "\e732"; }
.icon-peoplefill:before { content: "\e735"; }
.icon-album:before { content: "\e734"; }
.icon-repeal:before { content: "\e733"; }
.icon-people:before { content: "\e736"; }
.icon-servicefill:before { content: "\e737"; }
.icon-repair:before { content: "\e738"; }
.icon-file:before { content: "\e739"; }
.icon-markfill:before { content: "\e730"; }
.icon-refresharrow:before { content: "\e72d"; }
.icon-picfill:before { content: "\e72c"; }
.icon-paint:before { content: "\e72b"; }
.icon-paintfill:before { content: "\e72a"; }
.icon-cameraaddfill:before { content: "\e727"; }
.icon-friendfill:before { content: "\e726"; }
.icon-focus:before { content: "\e725"; }
.icon-apps:before { content: "\e729"; }
.icon-flashbuyfill-copy:before { content: "\e78f"; }
.icon-emojifill:before { content: "\e78d"; }
.icon-emojiflashfill:before { content: "\e78e"; }
.icon-sponsor:before { content: "\e77d"; }
.icon-upblock:before { content: "\e77e"; }
.icon-weblock:before { content: "\e77f"; }
.icon-weunblock:before { content: "\e780"; }
.icon-my:before { content: "\e78b"; }
.icon-myfill:before { content: "\e78c"; }
.icon-text:before { content: "\e791"; }
.icon-xiami:before { content: "\e798"; }
.icon-xiamiforbid:before { content: "\e797"; }
.icon-musicforbidfill:before { content: "\e796"; }
.icon-musicfill:before { content: "\e795"; }
.icon-goodsfavor:before { content: "\e794"; }
.icon-roundleftfill:before { content: "\e799"; }
.icon-roundleftfill-copy:before { content: "\e79e"; }
.icon-pulldown1:before { content: "\e79f"; }
.icon-goodslight:before { content: "\e7a2"; }
.icon-keyboardlight:before { content: "\e7a3"; }
.icon-recordfill:before { content: "\e7a4"; }
.icon-recordlight:before { content: "\e7a5"; }
.icon-record:before { content: "\e7a6"; }
.icon-soundlight:before { content: "\e7a8"; }
.icon-triangledownfill:before { content: "\e79b"; }
.icon-triangleupfill:before { content: "\e79c"; }
.icon-roundaddlight:before { content: "\e7a7"; }
.icon-emojilight:before { content: "\e7a1"; }
.icon-appreciatelight:before { content: "\e7a0"; }
.icon-cardboard:before { content: "\e7aa"; }
.icon-cardboardfill:before { content: "\e7a9"; }
.icon-formfill:before { content: "\e7ab"; }
.icon-sortlight:before { content: "\e7ad"; }
.icon-coin:before { content: "\e7ac"; }
.icon-voicelight:before { content: "\e7b9"; }
.icon-shoplight:before { content: "\e7b8"; }
.icon-cardboardforbid:before { content: "\e7af"; }
.icon-circlefill:before { content: "\e7b0"; }
.icon-circle:before { content: "\e7b1"; }
.icon-attentionforbid:before { content: "\e7b2"; }
.icon-attentionforbidfill:before { content: "\e7b3"; }
.icon-attentionfavorfill:before { content: "\e7b4"; }
.icon-attentionfavor:before { content: "\e7b5"; }
.icon-profilelight:before { content: "\e7b6"; }
.icon-piclight:before { content: "\e7b7"; }
.icon-attentionfavorfill-copy:before { content: "\e7ba"; }
.icon-cameralight:before { content: "\e7bb"; }
.icon-peoplelist:before { content: "\e7be"; }
.icon-mail:before { content: "\e7bd"; }
.icon-full:before { content: "\e7bc"; }
.icon-video:before { content: "\e7c8"; }
.icon-videofill:before { content: "\e7c7"; }
.icon-news:before { content: "\e7c6"; }
.icon-newshot:before { content: "\e7c5"; }
.icon-askfill:before { content: "\e7c9"; }
.icon-ask:before { content: "\e7ca"; }
.icon-exit:before { content: "\e7cb"; }
.icon-goodsnewfill:before { content: "\e7bf"; }
.icon-goodsnew:before { content: "\e7c0"; }
.icon-medalfill:before { content: "\e7c1"; }
.icon-medal:before { content: "\e7c2"; }
.icon-newsfill:before { content: "\e7c3"; }
.icon-newshotfill:before { content: "\e7c4"; }


/*按钮*/
.btn{
    -moz-user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 6px 15px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    letter-spacing: 2px;
    text-indent: 2px;
    transition: all 0.5s;
    font-family: "microsoft yahei", Verdana, Arial, sans-serif, "Times New Roman", '宋体', simsun;
}
.btn.active.focus, .btn.active:focus, .btn.focus, .btn.focus:active, .btn:active:focus, .btn:focus {
    outline:none;
    outline-offset: -2px;
}
.btn.active, .btn:active {
    background-image: none;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.125) inset;
    outline: 0 none;
}
.btn:disabled{
    opacity: 0.6;
}
.btn-red{
    background-color: #fd4747;
    color: #fff;
    text-align: center;
}
.btn-orange{
    background-color: #f04401;
    color: #fff;
    text-align: center;
}
.btn-white{
    background-color: #fff;
    color: #333;
    text-align: center;
    border: 1px solid #dfdfdf;
}
.btn-green{
    background-color: #29ab91;
    color: #fff;
}
.btn-block{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 85px;
    width: 90%;
    color: #fff;
    font-size: 30px;
    border-radius: 12px;/*px*/
    transition: all 0.5s;
    margin-bottom: 20px;
}
