body,html{
	height: 100%;
	width: 100%;
}
#wrapper{
	height: 100%;
	padding-top: 83px;
}
header{
	height: 83px;
	width: 100%;
	background-color: #f4f8ff;
	padding-top: 18px;
	position: absolute;
	left: 0;
	top: 0;
	min-width: 800px;
}
header .logo{
	position: absolute;
	top: 0;
	left: 48px;
}
header .logo i{
	font-size: 76px;
	color: #ff3300;
	line-height: 83px;
}
header p{
	margin-left: 148px;
}
header p span{
	display: block;
	font-size: 15px;
}
header p .direction{
	color: #666666;
}
header p .company{
	color: #333333;
}
section{
	width: 100%;
	background: url(../img/login/m-section-bg.png) no-repeat left top;
	background-size: 100% 100%;
	position: absolute;
	left: 0;
	top: 83px;
	right: 0;
	bottom: 0;
	min-height: 500px;
	min-width: 800px;
}
section .login{
	position: absolute;
	left: 51.54%;
	top: 11.98%;
	width: 365px;
	height: 398px;
	border-radius: 3px;
	background: #fff;
}
section .login h2{
	text-align: center;
	font: 32px/1 "微软雅黑";
	color: #333333;
	margin: 46px 0 40px;
}
section .login input{
	display: block;
	width: 79.452%;
	height: 54px;
	border-radius: 3px;
	border: 1px solid #dfdfdf;
	margin: 10px auto;
	font-size: 18px;
	padding-left: 10px;
	box-sizing: border-box;
	color: #666;
}
::-webkit-input-placeholder{
	color: #666666;
	font-family: "microsoft yahei","黑体", Verdana, Arial, sans-serif, "Times New Roman", "宋体", simsun;
}
::-moz-placeholder{
	color: #666666;
	font-family: "microsoft yahei","黑体", Verdana, Arial, sans-serif, "Times New Roman", "宋体", simsun;
}
::-ms-input-placeholder{
	color: #666666;
	font-family: "microsoft yahei","黑体", Verdana, Arial, sans-serif, "Times New Roman", "宋体", simsun;
}
section .login .remember{
	font-size: 18px;
	color: #7f7f7f;
	line-height: 18px;
	padding: 20px 37.5px 20px 37.5px;
}
section .login .remember .checkout {
	float: left;
	height: 17px;
	font-weight: normal;
}
.color-false {
	color: #f00;
}
.color-true {
	color: forestgreen;
}
section .login .remember em{
	float: right;
	height: 17px;
	width: 17px;
	border-radius: 3px;
	background-color: #6262ff;
	margin-right: 6px;
}
section .login .remember .checked{
	background-image: url(../img/m-yes.png);
	background-repeat: no-repeat;
	background-position: right top;
	background-size: 90% 90%;
}
section .login .remember span{
	float: right;
}
section .login .submitbtn{
	background: #6262ff;
	text-align: center;
	font-size: 24px;
	line-height: 40px;
	color: #FFFFFF;
	letter-spacing: 15px;
	text-indent: 15px;
}

/*惠分期报表系统管理登录2*/
.lg1-body {
	width:100%;
	height: 100%;
	min-width: 800px;
	min-height: 500px; 
}
.lg1-logo {
	width: 100%;
	height: 46px;
}
.lg1-logo i {
	line-height: 46px;
	padding-left: 20px;
	font-size: 24px;
	color: #ff3300;
}
.lg1-pic {
	width: 100%;
	height: 268px;
	background: url(../img/login/login1-pic.jpg) no-repeat;
	background-size: 100% 100%;	
	position: relative;
}
.lg1-welcome {
	width: 318px;
	height: 64px;	
	background: url(../img/login/lg1-welcome.png) no-repeat;
	position: absolute;
	bottom: 133px;
	left: 50%;
	transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
}
.lg1-name {
	width: 264px;
	height: 74px;	
	background: url(../img/login/login1-name.png) no-repeat;
	position: absolute;
	bottom: 36px;
	left: 50%;
	transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
}
.lg1-login {
	width: 100%;
	padding-top: 20px;
}
.login1-form {
	text-align: center;
	width: 302px;
	margin: 0 auto;
}
.lg1-login .form-list-ul {
	padding: 0;
	margin: 0;
	height: 108px;
}
.lg1-login .form-list-li {
	height: 44px;
	margin: 20px 0 0 0;	
}
.lg1-login .form-list-lable {
	width: 100%;
	height: 44px;

}
.form-list-ul i {
	height: 100%;
	width: 38px;
	display: block;
	float: left;
	background-color: #454851;
}
.lg1-login .fa {
	font-size: 20px;
	color: #999999;
	text-align: center;
	line-height: 44px;
}
.lg1-login input {
	width: 264px;
	color: #666;
	padding-left: 7px;
	font-size: 16px;
	float: right;
	height: 44px;
	border : 1px solid #cccccc;
	border-left: none;
	outline: none;
}
.login1-btn {
	height: 42px;
	width: 296px;
	background: #ff6666;
	font-size: 18px;
	color: #fff;
	border: none;
	outline: none;
	border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	box-shadow: 0 4px 6px #ff9999;
	-moz-box-shadow: 0 4px 6px #ff9999;
	-webkit-box-shadow: 0 4px 6px #ff9999;
	border: 0;
	font-family: "microsoft yahei","黑体", Verdana, Arial, sans-serif, "Times New Roman", "宋体", simsun;
}
.lg1-remember {
	margin: 17px 0 30px 0;
	text-align: left;
}
.lg1-remember span {
	font-size: 12px;
	color: #666666;
	padding-left: 10px;
}
.lg1-remember em {
	display: inline-block;
	height: 16px;
	width: 16px;
	border: 1px solid #ccccff;
	vertical-align: sub;
}
.lg1-section .lg1-remember .checked{
	background-image: url(../img/login/lg1-yes.png);
	background-repeat: no-repeat;
	background-position: right top;
	background-size: 80% 80%;
}
/*惠分期报表系统管理登录1*/
.lg2-body {
	min-width: 800px;
}
.lg2-left {	
	width: 66.6%;	
	min-height: 570px;	
	height: 100%;
	background: url(../img/login/lg2-img.jpg) no-repeat;
	background-size: 100% 100%;
	float: left;
}
.lg2-right{	
	width: 33.4%;
	min-height: 570px;
	height: 100%;	
	float: right;
}
.lg2-logo {
	height: 256px;
	width: 100%;
	background: url(../img/login/baobiao.png) no-repeat ;
	background-position: center bottom;
	overflow: hidden;
}
.lg2-logo i {
	height: 66px;
	width: 66px;
	color: #ff3300;
	font-size: 32px;
	line-height: 66px;
	text-align: center;
	border: 1px solid #ff3300;
	margin: 122px auto 0;
	display: block;
	border-radius: 50%;	
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
}
.lg2-form {
	padding-top: 42px;
}
.lg2-form {
	width: 210px;
	height: 243px;
	margin: 0 auto;	
}

.lg2-form-li{
	height: 58px;
	line-height: 58px;	
}
.lg2-form-li:first-child {
	border-bottom: 1px solid #ccc;
}
.lg2-form-lable .fa {
	display: inline-block;
	color: #ff3300;
	font-size: 16px;
}
.lg2-form input{
	border: none;
	width: 170px;
	padding-left: 24px;
	color: #666666;
	font-size: 18px;
}

.lg2-btn {
	width: 210px;
	height: 38px;
	line-height: 36px;
	background: #ff3300;
	border: none;
	font-size: 16px;
	color: #fff;
	margin-top: 48px;
	border-radius: 16px;
	-moz-border-radius: 16px;
	-webkit-border-radius: 16px;
	font-family: "microsoft yahei","黑体", Verdana, Arial, sans-serif, "Times New Roman", "宋体", simsun;
}

.focus {
	-webkit-box-shadow: 0 2px 9px -1px #666 inset;
	-moz-box-shadow: 0 2px 9px -1px #666 inset;
	box-shadow: 0 2px 9px -1px #666 inset;
}

